:root {
  --bg: #000000;
  --button: rgb(68, 1, 60);
  --text:#eff2f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  color: var(--text);
  background-color: var(--bg);
}

#container {
  width: 80%;
  max-width: 25rem;
  margin: 6rem auto;
}

img {
  width: 10rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  opacity: 0.7;
  margin-bottom: 2rem;
}

input, button {
  width: 100%;
  border-radius: 0.4rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-family: 'Exo 2', sans-serif;
}

button {
  background-color: var(--button);
  color: var(--text);
  letter-spacing: 0.15rem;
  font-weight: bold;
  transition: filter .2s;
}

button:hover {
  cursor: pointer;
  filter: brightness(2)
}

#resposta {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  transition: opacity 1s;
}

#resposta div {
  font-weight: 400;
  letter-spacing: normal;
  opacity: 0.7;
  margin-bottom: 0.8rem;
}